.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
  li {
    padding: 0;
    display: inline-block;
    a {
      border-radius: 2px;
      color: inherit;
      padding: 0.8em 1em;
      &:hover,
      .selected & {
        background-color: #eaeaea;
      }
    }
  }
}